include ../mixins/sub-menu.pug


header.header
  .container
      .col-25
        .inner-menu
          ul
           
            if(user)
              li
                a(href="/rooms-chat") Phòng chat
              li
                a #{user.fullName}
              li
                a(href="/user/logout") Đăng xuất

              
            else
              li
                a(href="/user/login") Đăng nhập
              //- li
              //-   a(href="/user/register") Đăng ký